.best-selling-section {
  padding: 20px 0;
  max-width: 1170px;
  margin: 0 auto;
}

.section-title-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.red-block {
  width: 20px;
  height: 40px;
  background-color: #DB4444;
  border-radius: 4px;
}

.section-subtitle {
  color: #DB4444;
  font-weight: 600;
  font-size: 16px;
}

.best-selling-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}

.section-main-title {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

.view-all-red-btn {
  background-color: #DB4444;
  color: white;
  padding: 16px 48px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.view-all-red-btn:hover {
  background-color: #E06767;
}

.best-selling-grid {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}